
.navbar{
    position:fixed;
    top:0;
    width:100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;

}

.logo{
    position:fixed;
    left: 20px;
    width: 80px;
    padding: 4px;

}
.logo:hover{
    cursor: pointer;
}

.avatar{
    position:fixed;
    right: 20px;
    width:30px;

}

.avatar:hover{
    cursor: pointer;
}


.genere-btns {
    position: absolute;
    display: flex;
    color: #fff;
    margin-left: 8%;

}
.genere-btns h3{
    font-size: 15px;
}

.genere-btns a{
    padding-left: 20px;
    color: #DCDCDC;
    text-decoration: none;
}


.genere-btns > a:hover{
    cursor: pointer;
    color: #fff;
}

.route-btns {
    position: absolute;
    display: flex;
    color: #DCDCDC;
    margin-left: 8%;

   
}
.route-btns >h3{
    padding-left: 20px;
    font-size: 15px;
}
.route-btns > h3:hover{
    cursor: pointer;
    color: #fff;
}